.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  max-width: 100%;
  height: auto;
  gap: 16px;
  padding: 40px 4px;
}

.boxInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.inputText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: white;
  color: black;
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.25;
  text-align: left;
  border: 2px solid white;
  padding: 0 8px;
}

.titleBox {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.25;
  color: white;
  padding-bottom: 8px;
}

.listRadio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  list-style: none;
}
.itemRadio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.inputRadio {
  position: absolute;
  appearance: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
  outline: none;
}
.viber {
  background-image: url("../../../public/icons/icon-viber.webp");
}

.telegram {
  background-image: url("../../../public/icons/icon-telegram.webp");
}

.whatsapp {
  background-image: url("../../../public/icons/icon-whatsapp.webp");
}

.inputRadio:checked {
  border: 3px solid white;
}

.error {
  height: 18px;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 500;
  color: #ff6f00;
}
.btnSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: white;
  font-family: var(--font-montserrat);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5;
  border-radius: 20px;
  outline: transparent;
  border: 2px solid white;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btnSubmit:hover {
  /* Увеличивает кнопку на 10% (1.1 от исходного размера) */
  transform: scale(1.05);
}
