.goodsWrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 60px 10px;
}

.wrapList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 16px;
  padding: 10px;
}
.goodsItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
}
.img {
  position: absolute;
  display: flex;
  width: 240px;
  height: 240px;
}
